<h1>Iniciar Sesion</h1>
<form action="/login" method="POST">
    <input type="email" name="email" id="" placeholder="Email">
    <input type="password" name="password" id="" placeholder="Password">
    <input type="checkbox" name="remember" placeholder="Recuerdame">Recuerdame</input>

    <button type="submit">
        Log In
    </button>
</form>