<h1><%= title %></h1>
<p>
    ID: <%= user.id %><br />
    Email: <%= user.email%><br />

</p>
<div>
    <img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-file" style="height: 300px;">
</div>
<button><a href="/logout">Log Out</a></button>