<h1>Registro</h1>
<form action="/signup" method="POST">
    <input type="email" name="email" id="" placeholder="Email">
    <input type="password" name="password" id="" placeholder="Password">

    <button type="submit">
        Register
    </button>
</form>